<p>about works!</p>

<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">
    <span Highlight>Lorem ipsum</span> dolor sit amet consectetur adipisicing
    elit. Suscipit, doloremque. Laudantium recusandae ipsam dolores omnis
    ratione pariatur quaerat quasi, voluptatem blanditiis amet mollitia sed
    totam explicabo ducimus nesciunt voluptas eligendi.
  </p>
  <p class="text-sm">
    numero de visitas :
    <app-counter [duration]="duration()" [message]="message()" />
  </p>
  <div>
    <app-wave-audio urlAudio="assets/audio.mp3" />
  </div>
</div>
